body {
    background-color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.heder--main {
    font-weight: normal;
    font-size: 50px;
    color: #ffffff;
}

.link--cta {
    
}